<form method="post" action="{{ path('app_massage_delete', {'id': massage.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette prestation ?') & setFormSubmitting();">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ massage.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
