{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Création de nouveau mot de passe
{% endblock %}

{% block heading %}
	Création de nouveau mot de passe
{% endblock %}

{% block main %}
	<div class="container my-4">
		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn btn-success my-3">Enregistrer</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
