{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Mes Rendez-Vous
{% endblock %}

{% block heading %}
	Mes Rendez-Vous
{% endblock %}

{% block main %}


	<div class="container-fluid my-5 mx-auto">
		{% include "inc/_flash.html.twig" %}
	</div>

{% endblock %}
