{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Mes Rendez-Vous
{% endblock %}

{% block heading %}
	Mes Rendez-Vous
{% endblock %}

{% block main %}

	{% include "inc/_flash.html.twig" %}

	<div class="alert alert-warning text-center col-md-6 mx-auto my-4">
		Partie en construction.
	</div>

	<div class="container-fluid my-5 mx-auto"></div>

{% endblock %}
