{% extends "base.html.twig" %}

{% block title %}Modifier votre mot de passe
{% endblock %}

{% block heading %}Modifier votre mot de passe
{% endblock %}

{% block main %}
	<div class="container p-5 border border-2 rounded col-md-4 my-5 mx-auto">
		{{form_start(form)}}
		{{form_widget(form)}}
		<input type="submit" value="Modifier" class="custom-btn primary">
		{{form_start(form)}}
		<a href="{{path('app_profil_edit')}}" class="custom-btn secondary">Retour à l'édition</a>
	</div>
{% endblock %}
