// COLORS

$primary-color: #7da57a;
$primary-color-darker: #588853;
$secondary-color: #47516b; 
$secondary-color: #38435e;
$cancel-color: #ff6347;
$cancel-color-darker: #cc4d37;

$bs-light: #f7f7f7;

// FONTS

$font-sm: 14px;
$font-md: 20px;
$font-lg: 28px;