// COLORS

$primary-color: #7da57a;
$primary-color-darker: #588853;
$secondary-color: #435373;
$secondary-color-darker: #2d3b58;
$danger-color: #ff6347;
$danger-color-darker: #cc4d37;
$bs-light: #f7f7f7;

// FONTS

$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 30px;