// COLORS

$primary-color: #7da57a;
$primary-color-darker: #588853;
$secondary-color: #a65d82;
$secondary-color-darker: #8d476a;
$cancel-color: salmon;
$cancel-color-darker: rgb(223, 97, 83);
$bs-light: #f7f7f7;
$font-color: #364564;

// FONTS

$font-xs: 0.75rem;
$font-sm: 0.9rem;
$font-md: 1.1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;