/* IMPORTS */
#articles-home div:first-child, .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FLEX */
/* BTN */
.custom-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 6px 12px;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 8px;
}

.custom-btn:focus,
.custom-btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.custom-btn:hover,
.custom-btn:focus {
  color: #333;
  text-decoration: none;
}

.custom-btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* primary
---------------------------- */
.primary {
  color: #fff;
  background-color: #7da57a;
  border-color: #ccc;
}

.primary:focus {
  color: #fff;
  background-color: #588853;
  border-color: #8c8c8c;
}

.primary:hover {
  color: #fff;
  background-color: #588853;
  border-color: #adadad;
}

.primary:active {
  color: #fff;
  background-color: #588853;
  border-color: #adadad;
}

/* secondary
---------------------------- */
.secondary {
  color: #fff;
  background-color: #a65d82;
  border-color: #ccc;
}

.secondary:focus {
  color: #fff;
  background-color: #8d476a;
  border-color: #8c8c8c;
}

.secondary:hover {
  color: #fff;
  background-color: #8d476a;
  border-color: #adadad;
}

.secondary:active {
  color: #fff;
  background-color: #8d476a;
  border-color: #adadad;
}

/* tertiary
---------------------------- */
.tertiary {
  color: #fff;
  background-color: #5d82a6;
  border-color: #ccc;
}

.tertiary:focus {
  color: #fff;
  background-color: #44688b;
  border-color: #8c8c8c;
}

.tertiary:hover {
  color: #fff;
  background-color: #44688b;
  border-color: #adadad;
}

.tertiary:active {
  color: #fff;
  background-color: #44688b;
  border-color: #adadad;
}

/* cancel
---------------------------- */
.cancel {
  color: #fff;
  background-color: salmon;
  border-color: #ccc;
}

.cancel:focus {
  color: #fff;
  background-color: rgb(223, 97, 83);
  border-color: #8c8c8c;
}

.cancel:hover {
  color: #fff;
  background-color: rgb(223, 97, 83);
  border-color: #adadad;
}

.cancel:active {
  color: #fff;
  background-color: rgb(223, 97, 83);
  border-color: #adadad;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  color: #364564;
  font-size: 1rem;
}

footer {
  background-color: #7da57a;
}
footer a,
footer a:hover,
footer a:visited,
footer a:active {
  text-decoration: none;
  color: #f7f7f7;
}

/* FONTS */
@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancingscript";
  src: url("../fonts/dancingscript-regular-webfont.woff2") format("woff2"), url("../fonts/dancingscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "montserratregular", Verdana, Geneva, Tahoma, sans-serif;
}

.script {
  font-family: "dancingscript", Verdana, Geneva, Tahoma, sans-serif;
}

.fs-xs {
  font-size: 0.75rem;
}

.fs-sm {
  font-size: 0.9rem;
}

.fs-md {
  font-size: 1.1rem;
}

.fs-lg {
  font-size: 1.25rem;
}

.fs-xl {
  font-size: 1.5rem;
}

/* IMAGES */
.img200 {
  width: 200px;
}

.img400 {
  width: 400px;
}

.img600 {
  width: 600px;
}

.icon-sm {
  width: 2rem;
}

.icon-md {
  width: 3rem;
}

.icon-lg {
  width: 4rem;
}

/* BANNER */
#banner {
  background-image: url("../img/banner-temp.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 99%;
  width: 100%;
  height: 20rem;
  color: #fff;
  text-shadow: -1px -1px 0 #364564, 1px -1px 0 #364564, -1px 1px 0 #364564, 1px 1px 0 #364564;
}

.deco-outline {
  color: #364564;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/* NAV */
nav {
  background: #7da57a;
  font-size: 1.2rem;
  font-weight: bolder;
}

#logo {
  width: 8rem;
}

#compte {
  font-size: 1rem;
}

/* HEADING */
#heading {
  margin-top: 2rem;
  margin-bottom: 1.1rem;
  color: #364564;
}

.line {
  background-color: #7da57a;
  height: 0.2rem;
  width: 7rem;
  margin: auto;
  border-radius: 90%;
}

.line-white {
  background-color: #f7f7f7;
  height: 0.1rem;
  width: 7rem;
  margin: auto;
  border-radius: 90%;
}

/* ACCUEIL */
@media screen and (min-width: 1200px) {
  .accueil {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.divider {
  height: 1.5rem;
  width: 33%;
  background-image: url("../img/divider.png");
  background-size: contain;
  background-repeat: space;
}

#articles-home {
  background-image: url("../img/banner-green.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 15%;
}

#articles-home h2 {
  display: inline-block;
  color: #364564;
  background-color: rgb(255, 255, 255);
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 24rem;
  height: 36rem;
  color: #000;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
.custom-card img {
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
}
.custom-card a {
  color: #364564;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.custom-card:hover {
  transform: scale(1.02);
  background-color: rgb(255, 255, 255);
}

#articles-home a {
  transition: all 0.3s;
}

#articles-home a:hover {
  transform: scale(1.03);
  filter: brightness(1.2);
}

/* CONTACT */
.green-link a {
  text-decoration: none;
  color: #5a8357;
}

.green-link a:hover {
  color: #477044;
}

#map {
  border-radius: 2rem;
  border: #7da57a 2px solid;
}

/* PRESTAS */
.text-prestas {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .text-prestas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.text-presta {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .text-presta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
/* NEWS */
#news table {
  border-collapse: collapse;
}
#news table td {
  padding: 3rem 1rem;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
#news table tr {
  cursor: pointer;
}
#news table tr:hover {
  background-color: rgba(93, 165, 122, 0.231372549);
}
#news table tr:hover tr:nth-child(3) {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */