{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Contact
{% endblock %}

{% block heading %}Formulaire de Contact
{% endblock %}
{% block main %}

	{% include "inc/_flash.html.twig" %}

	<div class="container mt-3 mb-4 mx-auto p-3 border border-2 rounded">
		{{form_start(form)}}
		{{form_widget(form)}}
		<button class="custom-btn primary">Envoyer</button>
		{{form_end(form)}}
	</div>
{% endblock %}
