<div id="banner" class="m-0 text-center d-flex justify-content-evenly align-items-center flex-wrap">
	<div class="col-3 display-5 text-center fw-bold">Facialiste</div>
	<div id="titre-principal" class="col-5 flex-col justify-content-center">
		<h1 class="display-2 text-center my-3 fw-bold">NADÈGE BECQUET</h1>
    <p class="script display-6 fw-bold">C'est par le bien-faire que se crée le bien-être</p>
	</div>
	<div class="col-3 display-5 text-center fw-bold">Massages du visage</div>
</div>
