<div id="banner" class="m-0 text-center flex-col">
	<h1 class="display-2 text-center mt-3 mb-2 fw-bold deco-outline">NADÈGE BECQUET</h1>
	<div class="display-5 text-center fw-bold flex-wrap p-2">
		Facialiste ~ Massages du visage
	</div>
	<p class="script display-6 fw-bold flex flex-wrap p-2 deco-outline">C'est par le bien-faire que se crée le bien-être</p>
</div>
