<div id="banner" class="m-0 text-center d-flex justify-content-evenly align-items-center flex-wrap">
	<div class="col-3 display-5 text-center fw-bold flex flex-wrap p-2">Facialiste</div>
	<div id="main-title" class="col-5 flex-col flex-wrap p-2">
		<h1 class="display-2 text-center m-3 fw-bold flex flex-wrap">NADÈGE BECQUET</h1>
    <p class="script display-6 fw-bold flex flex-wrap m-1">C'est par le bien-faire que se crée le bien-être</p>
	</div>
	<div class="col-3 display-5 text-center fw-bold flex flex-wrap p-2">Massages du visage</div>
</div>
