<footer class="p-4 d-flex justify-content-evenly align-items-center flex-wrap text-light">
	<div class="text-center fw-bold px-3 col-3">
		© 2022 Nadège Becquet
	</div>
	<div class="flex px-3 col-6 flex-wrap">
		<div class="text-center fw-bold px-3 col-5 flex">
			<a href="{{path('app_mentions')}}" title="Mentions légales">Mentions légales</a>
		</div>
		<div class="flex text-center fw-bold border-start border-end border-light border-2 px-1 col-2">
			<a href="{{path('app_cgu')}}" title="CGU">CGU</a>
		</div>
		<div class="flex text-center fw-bold px-3 col-5">
			<a href="{{path('app_confidentialite')}}" title="Politique de confidentialité">Politique de confidentialité</a>
		</div>
	</div>
	<div class="text-center flex px-3 col-3">
		<a href="https://www.instagram.com/nadegebecquet.facialiste/?hl=fr" title="Instagram" target="_blank"><img class="icon-sm" src={{ asset('img/instagram-light.png') }} alt="Icone Instagram"></a>
	</div>
</footer>
