<footer class="flex flex-wrap p-2">

	<div class="text-light fw-bold flex p-2 col">
		© 2022 Nadège Becquet
	</div>

	<div class="flex text-light flex-wrap text-center col">
		<div class="text-light fw-bold text-center p-2 col">
			<a href="{{path('app_mentions')}}" title="Mentions légales">Mentions légales</a>
		</div>
		<div class="text-light fw-bold text-center p-2 col">
			<a href="{{path('app_cgu')}}" title="CGU">CGU</a>
		</div>
		<div class="text-light fw-bold text-center p-2 col">
			<a href="{{path('app_confidentialite')}}" title="Politique de confidentialité">Politique de confidentialité</a>
		</div>
	</div>

	<div class="flex p-2 col">
		<a href="https://www.instagram.com/nadegebecquet.facialiste/?hl=fr" title="Instagram" target="_blank"><img class="icon-sm" src={{ asset('img/instagram-light.png') }} alt="Icone Instagram"></a>
	</div>
</footer>
