<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h3>Bienvenue !</h3>
		<p>Votre compte à bien été créé sur
			<a>nb-facialiste.fr</a>
		</p>
		<p>Vos identifiants de connexion sont les suivants :</p>
		<p>
			<b>Identifant de connexion :</b>
			{{user.email}}</p>
		<p>
			<b>Mot de passe :</b>
			{{plainPassword}}
		</p>
		<p>Nous vous invitons à conserver ses informations et à ne pas les divulguer</p>
		<p>Bien cordialement !</p>
		<p>
			<small>Ce mail est envoyé automatiquement merci de ne pas y répondre</small>
		</p>
	</body>
</html>
