<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h3>Bonjour
			{{user.prenom}}</h3>
		<p>Votre mot de passe à été modifié sur
			<a>https://nb-facialiste.fr</a>
		</p>
		<p>
			<b>Votre nouveau mot de passe :</b>
			{{newPassword}}
		</p>
		<p>Nous vous invitons à conserver ce mot de passe et ne pas le divulguer</p>
		<p>Bien cordialement !</p>
		<p style="font-style:italic;font-size:12px">Si vous n'êtes pas à l'origine de ce changement veuillez <a href="mailto:admin@nb-facialiste.fr">nous contacter<a/></p>
	</body>
</html>